@import-normalize; /* bring in normalize.css styles */

body {
  text-align: center;
  background-color: #29E4CB;
  color: #552eb8;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./1626799609_2_kartinkin_com_p_fon_s_malenkimi_znachkami_krasivo_2.png);
  object-fit: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiToolbar-root {
  background-color: #29E4CB;
}